{% extends 'core/base.html' %}

{% block titulo %}
{% include 'core/componentes/titulo1.html' with titulo='    Cliente: Borrar Clientes' %}

{% endblock titulo %}

{% block contenido %}
    
    <p class="fs-5 fst-italic" style="color: white;">¿Confirma eliminar "{{ cliente.user }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mb-4">Confirmar</button>
    </form>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
        <a class="btn btn-secondary"
           style="display: flex;
                  justify-content: center;
                  align-items: center"
        href="{% url 'cliente:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock contenido %}