{% extends 'core/base.html' %}
{% block titulo %}
    {% include 'core/componentes/titulo1.html' with titulo='Categoría de Productos: Busqueda' %}
{% endblock titulo %}
{% block contenido %}
    <p>Los siguientes grupos se encuentra en la base de datos:</p>
    {% if resultados %}
        <ul>
            {% for producto in resultados %}
                <li>{{ producto.nombre }}</li>
                    ->{{ producto.descripcion }}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock contenido %}

