{% extends 'core/base.html' %}
{% block titulo %}
{% include 'core/componentes/titulo1.html' with titulo='Productos: Detalle de Producto' %}
{% endblock titulo %}

{% block contenido %}

    <ul>
        <li class="font-weight-light" style="color: #ffffff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Nombre: {{ object.nombre }}</li>
        <li style="color: #ffffff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"><img src="{{ producto.imagen.url }}" alt="Imagen del producto" class="card-img-top"
            style="max-width: 30%; height: auto;"></li>
    </ul>

    <div class="fs-3 pb-4">
        <a class="btn btn-secondary"
        style="display: flex;
           justify-content: center;
           align-items: center"href="{% url 'producto:producto_list' %}">Volver</a>
    </div>

{% endblock contenido %}