{% extends 'core/base.html' %}

{% block titulo %}

{% include 'core/componentes/titulo1.html' with titulo='Categoría de Productos: Creación' %}

{% endblock titulo %}

{% block contenido %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary mb-4">Guardar</button>
    </form>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
        <a class="btn btn-secondary"
           style="display: flex;
                  justify-content: center;
                  align-items: center"
           href="{% url 'producto:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock contenido %}