{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}

{% include 'core/componentes/titulo1.html' with titulo='App Moradita' %}
                
{% endblock titulo %}

{% block contenido %}
 <!-- Heading Row-->
 <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0"
             src="{% static 'core/img/moradita.webp' %}"
             alt="..." />
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Moradita</h1>
        <p>
            La "moradita", como un nido acogedor entre las ramas de un árbol. Con cada pensamiento, es como construir un nuevo rincón de sueños y risas. Es el lugar donde tus recuerdos se acomodan como juguetes en un cofre, llenando el espacio con colores y alegrías. Es el refugio donde la imaginación vuela alto y los corazones jóvenes encuentran su morada más dulce.        </p>
        <a class="btn btn-primary" href="https://wa.me/59895491797" target="_blank">Whatsapp</a>
    </div>
</div>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">
        Embellece tu hogar con muebles que encantan. ¡Descubre nuestra colección y haz de tu espacio un lugar único y acogedor!        </p>
    </div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    {% for tarjeta in datos_tarjetas %}
    {% include 'core/componentes/card.html' with titulo=tarjeta.titulo texto=tarjeta.texto imagen=tarjeta.imagen %}
{% endfor %}
</div>
    {% endblock contenido %}
    
