{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'core/componentes/titulo1.html' with titulo='Moradita App' %}
{% endblock titulo %}
{% block contenido %}

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">
                Embellece tu hogar con muebles y accesorios que encantan. ¡Descubre nuestra colección y haz de tu espacio un lugar único y acogedor!
            </p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% for producto_categoria in productos_categoria %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <!-- Verificar si el producto tiene una imagen -->
                    {% if producto_categoria.imagen %}
                        <img src="{{ producto_categoria.imagen.url }}"
                             class="card-img-top"
                             alt="Imagen de la tarjeta">
                    {% else %}
                        <!-- Mostrar una imagen alternativa o un espacio en blanco si no hay imagen -->
                        <div style="width: 100%; height: 370px; background-color: #f0f0f0;"></div>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ producto_categoria.nombre }}</h2>
                        <p class="card-text">{{ texto }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm"
                           href="{% url 'core:detalle_categoria' title=producto_categoria.nombre %}">Más Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenido %}
