{% extends 'core/base.html' %}
{% block titulo %}
    {% include 'core/componentes/titulo1.html' with titulo='Registro de Usuario' %}
{% endblock titulo %}

{% block contenido %}

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div style="color: white; font-weight: bold;"> <!-- Estilo blanco y negrita para los rótulos (labels) -->
            {{ field.label_tag }}
        </div>
        {{ field }} <!-- El campo en sí mismo permanece sin estilos -->
        {{ field.errors }}
    {% endfor %}
    <button type="submit" class="btn btn-success" style="color: white;">Registrar nuevo usuario</button>
</form>
{% endblock contenido %}
